---
title: Home
---
<section>
  <div class="constrain">

    {% include hero.html heading="Not Another Dating App" img="home/hero.jpg" %}

    {% include cta_2_col.html title="Meet New People!" description="Switchboard is the app where you match with your friends’ friends and they set you up! It’s the dating app where everyone has a role!" img="home/bubble_hub.jpg" flipped=false %}
    {% include cta_2_col.html title="Help Your Friends!" description="Help your single friends find love by setting them up with your other single friends! Who knows your friends better than you!" img="home/pairing.jpg" flipped=true %}
    {% include cta_2_col.html title="Make dates happen." description="Think you and one of your friends’ friend should meet? Show your interest and your friend can introduce you to each other!" img="home/seeking.jpg" flipped=false %}
    {% include cta_2_col.html title="Have Something to say?" description="Check out our contact us page to find the best way to reach out. We're listening!" img="home/contact.jpg" flipped=true cta_link="/contact" cta_text="Contact Us" %}

  </div>

</section>

