<section>
    {% if include.flipped %}
        <div class="cta-2-col-wrap cta-2-col-flipped">
    {% else %}
	    <div class="cta-2-col-wrap ">
    {% endif %}
		<div class="cta-2-col-image">
            {% if include.img %}
                <img src="/assets/images/{{ include.img }}" />
            {% else %}
                <img src="http://placecorgi.com/600/600" />
            {% endif %}
		</div>
		<div class="cta-2-col-text">
			<h2 class="cta-2-col-title">{{ include.title }}</h2>
			<div class="cta-2-col-desc">{{ include.description }}</div>
            {% if include.cta_link %}
                <a class="button" href="{{ include.cta_link }}">{{ include.cta_text }}</a>
            {% endif %}
		</div>
	</div>
</section>
