* {
    box-sizing: border-box;
  
    &,
    &::before,
    &::after {
      box-sizing: border-box;
    }
  }
  
  html {
    font-size: 100%;
    scroll-behavior: smooth;
  }
  
  body {
    color: $black;
    font-family: $fontDefault;
    font-size: $textNormal;
    letter-spacing: $letterspaceXsmall;
    line-height: $lineHeightNormal;
  }
  
  a {
    color: $colorPrimaryAlt;
  
    @media screen and (min-width: $medium) {
      &:hover,
      &:focus,
      &:active {
        color: $gray;
      }
    }
  }